<% layout("/layouts/boilerplates") %>

<body>
    <h3>All Listings</h3>
    
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <% for(lists of allListings) { %>
            <a class="listing-link" href="/listings/<%= lists._id %>">
            <div class="card col">
                <img src="<%= lists.image.url %>" 
                     class="card-img-top"
                     alt="listings_image" 
                     style="height: 20rem;" />
                <div class="card-body">
                    <p class="card-text">
                        <b>
                            <%= lists.title %>
                        </b><br />
                        &#8377; <%= lists.price.toLocaleString('en-IN') %> / night
                            <i class="tax-info"><b> &nbsp; &nbsp; +18% GST</b></i>
                    </p>
                </div>
            </div> 
            </a>
            <% } %>
    </div>
    
    

   
</body>
