body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
}
/* Navbar Styles */
.navbar{
    height: 5rem;
    background-color: white;
}

.icon {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222 !important;
 }

 .f-info-links a {
     text-decoration: none;
     color: #222;
 }

 .f-info-links a:hover {
     text-decoration: underline;
 }

 .f-info-socials,
 .f-info-links,
 .f-info-brand {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 100%;
 }

 .f-info-socials i {
     margin-right: 1rem;
 }

 .f-info-socials a {
     color: black;
     border: none;
 }

 .f-info {
     text-align: center;
     height: 8rem;
     display: flex;
     background-color: #ebebeb;
     flex-direction: row;
     flex-wrap: wrap;
     align-items: center;
     justify-content: space-evenly;
 }

/* Cards */
.card {
    border: none !important;
    margin-bottom: 2rem;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.03);
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important; 
}

.listing-link{
    text-decoration: none;
}